/* You can add global styles to this file, and also import other style files */

a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.alinear-derecha {
    text-align: end !important;
}

.alinear-centro {
    text-align: center !important;
}

.alinear-izquierda {
    text-align: left !important;
}

.dialog-general {
    text-align: start;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.dialog-error {
    background: #e01a76;
}

.dialog-success {
    background: #0366d6;
}

.dialog-general button {
    font-weight: bold;
    color: white;
}

.texto-error {
    font-size: 15px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
