<mat-card class="mat-elevation-z4">
    <mat-card-title>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="100">
                <span>Actualizar Nota {{data.curso?.nombre | titlecase}}: {{data.estudiante?.nombres | titlecase}} {{data.estudiante?.apellidos | titlecase}}</span>
            </div>
        </div>
    </mat-card-title>

    <hr>
    <br>

    <mat-card-content>
        <form (ngSubmit)="actualizar()" [formGroup]="miFormulario" autocomplete="off">
            <div fxLayout="row" fxLayoutGap="50px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="50">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Nota 1</mat-label>
                    <input matInput type="number" placeholder="Nota 1" formControlName="nota1" [errorStateMatcher]="vs.matcher">
                    <mat-error *ngIf="vs.campoEsValido('nota1')">{{vs.getMensaje('nota1')}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="50px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="50">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Nota 2</mat-label>
                    <input matInput type="number" placeholder="Nota 2" formControlName="nota2" [errorStateMatcher]="vs.matcher">
                    <mat-error *ngIf="vs.campoEsValido('nota2')">{{vs.getMensaje('nota2')}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="50px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="50">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Nota 3</mat-label>
                    <input matInput type="number" placeholder="Nota 3" formControlName="nota3" [errorStateMatcher]="vs.matcher">
                    <mat-error *ngIf="vs.campoEsValido('nota3')">{{vs.getMensaje('nota3')}}</mat-error>
                </mat-form-field>
            </div>

            <div fxLayoutAlign="end center">
                <button type="submit" mat-raised-button color="primary">
                    Actualizar
                    <i *ngIf="miFormulario.pending" class="pi pi-spin pi-spinner"></i> 
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>