<div class="mt-5">
    <mat-selection-list [multiple]="false" (click)="cerrarSidenav()">
        <mat-list-option class="texto-blanco" routerLink="/estudiante" routerLinkActive="active">
            <mat-icon fontSet="material-icons" matListIcon>group</mat-icon>
            <p matLine>Estudiente</p>
        </mat-list-option>

        <mat-list-option class="texto-blanco" routerLink="/curso" routerLinkActive="active">
            <mat-icon fontSet="material-icons" matListIcon>assistant</mat-icon>
            <p matLine>Curso</p>
        </mat-list-option>

        <mat-list-option class="texto-blanco" routerLink="/nota" routerLinkActive="active">
            <mat-icon fontSet="material-icons" matListIcon>edit_note</mat-icon>
            <p matLine>Notas</p>
        </mat-list-option>

    </mat-selection-list>
</div>